.header {
  padding: 8px 10px;
  color: #fff;
  background-color: rgba(48, 45, 45, 1);
}

.headerInner {
  display: flex;
  align-items: center;
  gap: 100px;
  width: 85vw;
  margin: 0 auto;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand_name {
  font-weight: 700;
  font-size: 24px;
}

.logo {
  width: 40px;
  height: 40px;
  background-color: rgba(235, 57, 57, 1);
}

.menu {
  display: flex;
  gap: 60px;
}
